<div class="col-md-3">
  <%= render 'users/info',user:current_user %>
  <%= render 'users/setting',user:current_user %>
</div>
<div class="col-md-8 offset-md-1">
  <% if @tag!=nil %>
    <h4><%= @tag.tag %>の投稿一覧</h4>
  <% else %>
    <h4>全ての投稿一覧</h4>
  <% end %>
    <%= form_tag trainings_path, method: :get do %>
      <%= select_tag :tag,
                     options_from_collection_for_select(Tag.all, :id, :tag, params[:tag]),
                     {
                       prompt: '絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <%= render "trainings/index",trainings:@trainings %>
  <% end %>
</div>