<div class="container px-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info',user:current_user %>
      <%= render 'users/setting',user:current_user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h4>投稿一覧</h4>
      <table class="table">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>タイトル</th>
            <th>コメント数</th>
            <th>いいね数</th>
          </tr>
        </thead>
        <tbody>
          <% @trainings.each do |training| %>
            <tr>
              <td><%= image_tag training.user.get_profile_image,size:"50x50" %></td>
              <td><%= link_to training.title,training_path(training) %></td>
              <td><%= training.comments.count %></td>
              <td id="favorite-btn<%= training.id %>">
                <%= render 'favorites/favorite',training:training %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>