<div id="messages">
  <% messages.each do |message|%>
    <% if message.user_id==current_user.id %>
      <% if message.message.present? %>
        <div class="mycomment">
          <p><%= message.message %></p>
        </div>
      <% end %>
      <% if message.message_image.present? %>
        <div class="mycomment_image">
          <%= image_tag message.message_image,size:"200x200",class:"rounded-lg" %>
        </div>
      <% end %>
    <% else %>
      <div class="fukidasi">
        <div class="faceicon">
          <%= image_tag user.get_profile_image %>
        </div>
        <div class="chatting">
          <% if message.message.present? %>
            <div class="says">
              <p><%= message.message %></p>
            </div><br>
          <% end %>
          <% if message.message_image.present? %>
            <div class="says_image">
              <%= image_tag message.message_image,size:"200x200",class:"rounded-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>