<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>フォロー</th>
      <th>フォロワー</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image,size:"50x50" %>
            <%= user.name %>
          <% end %>
        </td>
        <td id="following_count<%= user.id %>"><%= render "relationships/following_count",user:user %></td>
        <td id="follower_count<%= user.id %>"><%= render "relationships/follower_count",user:user %></td>
        <td id="follow_btn<%= user.id %>"><%= render "relationships/follow_btn",user:user %></td>
        <td id="message_btn<%= user.id %>"><%= render "messages/message_btn",user:user %></td>
      </tr>
    <% end %>
  </tbody>
</table