<h2>ユーザー情報</h2>
<%= image_tag user.get_profile_image%>
<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= user.introduction %></td>
  </tr>
    <th>フォロー</th>
    <th><%= link_to user.followings.where(is_deleted:false).count,user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to user.followers.where(is_deleted:false).count,user_followers_path(user) %></th>
  </tr>
  <tr>
    <td><%= link_to "new",new_training_path %></td>
  </tr>
</table>