<h2>ユーザー情報</h2>
<%= image_tag user.get_profile_image%>
<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>フォロー</th>
    <th id="info_following_count<%= user.id %>"><%= render "relationships/following_count",user:user %></td>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th id="info_follower_count<%= user.id %>"><%= render "relationships/follower_count",user:user %></th>
  </tr>
</table>