<% unless user.name=="guestuser" %>
  <div>
    <% if user==current_user %>
      <div>
        <%= link_to edit_user_path(user.id),class:"btn btn-outline-secondary btn-block mb-2" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    <% else %>
      <div id="message_btn<%= user.id %>">
        <%= render "messages/message_btn",user:user %>
      </div>
      <div id="follow_btn<%= user.id %>">
        <%= render "relationships/follow_btn",user:user %>
      </div>
    <% end %>
    <div>
      <% if current_user.admin? && user!=current_user && user.is_deleted==false %>
        <%= link_to "利用停止する",suspend_user_path(user.id),method: :patch,"data-confirm"=>"本当に利用停止しますか？",class:"btn btn-danger" %>
      <% elsif current_user.admin? && user!=current_user && user.is_deleted==true %>
        <%= link_to "利用停止を解除する",unsuspend_user_path(user.id),method: :patch,"data-confirm"=>"本当に利用停止を解除しますか？",class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
<% end %>