<div class="col-md-3">
  <%= render 'users/info',user:@user %>
  <%= render 'users/setting',user:@user %>
</div>
<div class="col-md-8 offset-md-1">
  <h4><%= @user.name %>さんのいいねした投稿一覧</h4>
  <%= render "trainings/index",trainings:@favorite_trainings %>
  <%= paginate @favorite_trainings, theme: 'twitter-bootstrap-4' %>
</div>