<div class="col-md-3">
  <%= render 'users/info',user:@user %>
  <%= render 'users/setting',user:@user %>
</div>
<div class="col-md-8 offset-md-1">
  <%= month_calendar events: @trainings do |date,trainings| %>
    <%= date.day %>
      <% trainings.each do |training| %>
      <p class="trainingtitle">
        <%= link_to training.title,training_path(training.id) %>
      </p>
    <% end %>
  <% end %>
</div>
