<!DOCTYPE html>
<html>
  <head>
    <title>Mtms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <div class="container mt-3 px-5 px-sm-0" style="margin-bottom:80px">
        <p class="notice d-flex align-items-center justify-content-center"><%= notice %></p>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom bg-dark text-white">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height:50px;">
          トレーニングを楽しもう！
        </div>
      </div>
    </footer>
  </body>
</html>