<!DOCTYPE html>
<html>
  <head>
    <title>Mtms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <diV class="row">
        <div class= "mx-auto mt-1">
        </div>
      </div>
      <p class="notice d-flex align-items-center justify-content-center"><%= notice %></p>
      <%= yield %>
    </main>
    <footer class="fixed-bottom bg-dark text-white mt-5">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center" style="height:50px;">
          トレーニングを楽しもう！
        </div>
      </div>
    </footer>
  </body>
</html>
